<footer><p>&copy; Copyright 2015 Traffic Spy Project<br>
  <a href="https://github.com/with-a-k">Erik</a>
  <a href="https://github.com/kravinskylev">Lev</a>
  <a href="https://github.com/whiemstra">Whitney</a>
</p></footer>
