<h1>App Details Page</h1>

<!-- Source overall statistics !-->
<div id="statistics">
  <ul>
    <li>URLs from most to least requested</li>
    <ol>
        <% @sorted_urls.each do |url| %>
          <li><%= "#{url[0]}: #{url[1]}" %></li>
        <% end %>

        <% @sorted_responses.each do |response| %>
        <li><%= "#{response[0]}: #{response[1]}" %></li>
        <% end %>
    </ol>
  </ul>
</div>
