<h1>App Details Page</h1>

<a href="/sources/<%= params[:identifier] %>/events" value='events'>Events</a>


<!-- Source overall statistics !-->
<div id="statistics">
  <ul>
    <li>URLs from most to least requested</li>
    <ol>
        <% @sorted_urls.each do |url| %>
        <li><%= "#{url[0]}: #{url[1]}" %></li>
        <% end %>
    </ol>
    <br>
    <br>
    <li>Screen Resolutions</li>
    <ol>
      <% @sorted_screen_res.each do |resolution| %>
        <li><%= "#{resolution[0][0]} x #{resolution[0][1]} : #{resolution[1] }" %></li>
      <% end %>
    </ol>
  </ul>

  <ul>
    <li> URLs from longest to shortest response times<li>
      <ol>
        <% @sorted_response_times.each do |response| %>
        <li><%= "#{response[:url]}: #{response[:responded_in]}" %></li>
        <% end %>
      </ol>
  </ul>
</div>
